@import "../../utilities/scss/varaibles";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Telex&display=swap");
$column-padding: 50px;

.login-headerTitle {
  color: $main-text-color;
  text-align: center;
  font-size: 3rem;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 7px 20px $secondary-color;
  animation: login-headerTitle-animation 2s ease-in-out;
  text-decoration: underline;
}
@keyframes login-headerTitle-animation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-column,
.image-column {
  padding: $column-padding;
}

.login-column {
  animation: login-column-animation 2s ease-in-out;
}

.image-column {
  animation: image-column-animation 2s ease-in-out;
}

@keyframes image-column-animation {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes login-column-animation {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.login-wrapper {
  h1,
  input {
    color: $main-text-color;
  }
  input {
    background-color: $input-background-color;
    border: none;
    padding: 25px 10px 20px 19px;
    border-radius: 25px;
    margin-right: 10px;
  }
  input:focus {
    outline: none;
    border-bottom: 1px solid $secondary-color;
  }

  .login-header-wrapper {
    span {
      font-size: 40px;
      color: $secondary-color;
    }
    p {
      color: $main-text-color-gray;
      margin: 0;
    }
    a {
      color: $secondary-color;
      font-weight: bold;
      text-decoration: none;
      text-transform: none;
    }
  }

  .login-form-inputs-wrapper {
    margin-top: 15px;
    div {
      margin-bottom: 20px;
    }

    .first-last-name-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      div {
        width: 100%;
        position: relative;
      }
      .first-name-wrapper,
      .last-name-wrapper {
        position: relative;
      }
      .first-name-wrapper span:nth-child(1),
      .last-name-wrapper span:nth-child(1) {
        position: absolute;
        left: 19px;
        top: 5px;
        color: $main-text-color-gray;
      }
      .first-name-wrapper span:nth-child(3),
      .last-name-wrapper span:nth-child(3) {
        display: flex;
        position: absolute;
        right: 19px;
        top: 18px;
        padding-right: 4px;
        color: $main-text-color-gray;
        font-size: 1.7rem;
      }

      input {
        width: 98%;
      }
    }
    .email-wrapper,
    .password-wrapper {
      position: relative;
    }
    .email-wrapper span:nth-child(1),
    .password-wrapper span:nth-child(1) {
      position: absolute;
      left: 19px;
      top: 5px;
      color: $main-text-color-gray;
    }

    .email-wrapper span:nth-child(3),
    .password-wrapper span:nth-child(3) {
      display: flex;
      position: absolute;
      right: 19px;
      top: 18px;
      padding-right: 4px;
      color: $main-text-color-gray;
      font-size: 1.7rem;
    }


    .email-wrapper,
    .password-wrapper,
    .buttons-wrapper {
      input {
        width: 100%;
      }
    }

    .buttons-wrapper {
      input {
        padding: 10px 50px 10px 50px;
        background-color: $secondary-color;
        border-radius: 20px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  .todo-image {
    height: auto;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
  }
}
