@import "../../styles/varaibles";
$overview-page-padding-total: 9px;
$overview-page-padding-right-left: 20px;
$content-margin-top: 10px;
@import "https://fonts.googleapis.com/css?family=Courgette";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BenchNine&family=DM+Serif+Display&family=Quattrocento+Sans&family=Telex&display=swap";

.overview-wrapper {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  //Header wrapper for title and dropdown menu
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: $overview-page-padding-total;
    padding-left: $overview-page-padding-right-left;
    padding-right: $overview-page-padding-right-left;
    width: 100%;
    font-family: "Bebas Neue", cursive;
    font-family: "BenchNine", sans-serif;
    font-family: "DM Serif Display", serif;
    font-family: "Quattrocento Sans", sans-serif;
    font-family: "Telex", sans-serif;
    .pageTitle {
      text-align: center;
      margin: 0;
      padding: 0;
      color: $main-text-color-white;
    }
    .pageTitle::first-letter {
      border: 5px solid $main-color;
      font-weight: bold;
      color: $main-text-color-white;
      padding: 3px;
    }
    .ant-dropdown-tasksDate {
      color: $main-text-color-white;
    }
  }

  //Main content [ToDo, InProgress, Done]
  .tasks-overview-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $content-margin-top;

    .innertask-container-header {
      // background: linear-gradient(
      //   0deg,
      //   rgba(118, 180, 149, 0) 0%,
      //   rgba(29, 144, 244, 0.404) 100%
      // );
      padding: 5px 10px 0px 10px;
      border-radius: 15px 15px 0px 0px;
      width: 100%;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .counter {
        background-color: $main-color;
        color: $main-text-color-white;
        padding: 3px;
        font-weight: bold;
        border-radius: 4px;
        margin: 3px;
      }
      .innertask-headerContainer-button-container {
        button {
          width: 100%;
          border-radius: 15px;
          border: none;
          outline: none;
          background-color: rgba($secondary-color, 0.21);
          padding: 5px 0px 5px 0px;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            background-color: $main-color;
          }
        }
        .addButtonIcon {
          color: white;
        }
      }
    }
  }

  //Add Task fields
  .addTask-inputFields-container {
    input,
    textarea {
      width: 100%;
      color: $main-text-color-black;
      background-color: $text-area-addtask-background-color;
      padding: 5px;
      outline: none;
      border: none;
      margin-bottom: 5px;
      transition: 0.3s;
      font-size: 0.8rem;
      border-radius: 0;
      &::placeholder {
        color: $main-color;
        opacity: 0.4;
      }
    }
    :focus {
      outline: none;
      border-bottom: 1px solid $secondary-color;
    }
  }

  .addTask-overdue-priorty-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 0.8rem;
    .deadline-container,
    .priorty-container {
      width: 100%;
      .ant-picker,
      .ant-select-selector {
        border-radius: 5px;
      }
      h5 {
        color: $main-text-color-white;
      }
    }

    .deadline-container {
      width: 40%;
      margin-right: 5px;
    }
    .priorty-container {
      width: auto;
    }
  }

  .addTask-cancel-add-container {
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      padding: 5px 17px 5px 17px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      width: 90%;
    }
    :hover {
      opacity: 0.6;
    }
    :nth-child(1) {
      background-color: $create-button-background-color;
      margin-right: 5%;
      color: $button-white-text-color;
    }
    :nth-child(2) {
      background-color: $cancel-button-background-color;
      color: $button-white-text-color;
    }
  }

  //Single task container for the input fields
  .addTask {
    animation-name: addTaskFieldsAnimation;
    animation-duration: 1.7s;
    opacity: 1;
    box-shadow: 1px 2px 5px $secondary-color;
    @keyframes addTaskFieldsAnimation {
      from {
        opacity: 0.4;
        box-shadow: 1px 1px 6px $secondary-color;
      }
      to {
        opacity: 1;
      }
    }
  }

  //Single task container
  .task-item-container {
    background-color: $container-white-background-color;
    padding: 12px 10px 15px 12px;
    margin: 6px;
    margin-top: 10px;
    border-radius: 15px;
    color: $main-text-color-white;
    animation-name: taskItemContainerAnimation;
    animation-duration: 4s;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 5px;

      .deleteIcon {
        font-size: 1.2rem;
        height: fit-content;
        width: fit-content;
        border-radius: 50%;
        background-color: $container-delete-icon-background-color;
        color: $container-delete-icon-text-color;
        cursor: pointer;

        :hover {
          transition: 0.7s;
          opacity: 0.7;
        }
      }
      .task-header-bullet {
        color: $secondary-color;
        font-weight: bold;
        font-size: 18px;
      }
    }
    .task-description-container {
      color: $main-text-color-white-gray;
      font-size: 12px;
      p {
        margin-left: 10px;
      }
    }

    .overdue-priority-container {
      display: flex;
      justify-content: space-between;
      .ant-picker {
        border-radius: 5px;
        width: 90%;
        margin-left: 10px;
      }
    }
    .priority-highest,
    .priority-medium,
    .priority-low {
      border-radius: 10px;
      padding: 5px 7px 5px 7px;
      width: fit-content;
      color: white;
      font-size: 12px;
    }
    .priority-highest {
      background-color: #b20000;
    }
    .priority-medium {
      background-color: rgb(229, 173, 31);
    }
    .priority-low {
      background-color: gray;
    }

    .move-to-container {
      margin-top: 10px;
      width: 100%;
      .move-to-container-checkbox-container {
        width: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: space-evenly;
        :nth-child(1) {
          margin-right: 4px;
        }
      }
    }
  }

  //animation
  @keyframes taskItemContainerAnimation {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }

  .addTask-container,
  .inProgress-container,
  .doneTasks-container {
    color: $main-text-color-white;
    width: 30%;
    border-radius: 15px;
    background: linear-gradient(
      0deg,
      rgba($secondary-color, 0) 0%,
      rgba($secondary-color, 0.073) 100%
    );
  }

  .NoTasks-Image-Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-start;
    margin-top: 60px;
    img {
      width: 60%;
    }
  }
  //Extra small devices
  @media (max-width: 355px) {
    .header-wrapper {
      flex-direction: column;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 766px) {
    .header-wrapper {
      padding-left: 0;
      padding-right: 0;
      height: 10%;
    }
    .tasks-overview-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      position: relative;
      width: 100%;
    }
    .addTask-container,
    .inProgress-container,
    .doneTasks-container {
      width: 100%;
      height: auto;
    }
    .inProgress-container,
    .doneTasks-container {
      margin-top: 30px;
    }
    .doneTasks-container {
      margin-bottom: 30px;
    }

    .NoTasks-Image-Container {
      img {
        width: 30%;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .addTask-container,
    .inProgress-container,
    .doneTasks-container {
      width: 27%;
    }
  }

  //this media query for the purpose of adding new task fields
  @media (max-width: 992px) and (min-width: 767px) {
    .overdue-priority-container {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .ant-picker {
        margin-left: 0 !important;
      }
    }
    .task-priority-container {
      width: 100%;

      .priority-medium,
      .priority-highest,
      .priority-low {
        width: 100%;
        text-align: center;
      }
    }
    .addTask-overdue-priorty-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .deadline-container {
        width: 100%;
        .ant-picker {
          width: 100%;
        }
      }
      .priorty-container {
        width: 100%;
        .ant-select {
          width: 100%;
        }
      }
    }
    .addTask-cancel-add-container {
      justify-content: center;
      button {
        width: fit-content;
      }
    }
  }

  @media (max-width: 450px) and (min-width: 10px) {
    .addTask-overdue-priorty-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .deadline-container {
        width: 100%;
        .ant-picker {
          width: 100%;
        }
      }
      .priorty-container {
        width: 100%;
        .ant-select {
          width: 100%;
        }
      }
    }
    .addTask-cancel-add-container {
      justify-content: center;
      button {
        width: fit-content;
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }
}

.overview-wrapper.dark {
  //Header wrapper for title and dropdown menu
  .header-wrapper {
    .pageTitle {
      color: $main-text-color-white;
    }
    .pageTitle::first-letter {
      border: 5px solid $main-color;
      color: $main-text-color-white;
    }
    .ant-dropdown-tasksDate {
      color: $main-text-color-white;
    }
  }

  //Main content [ToDo, InProgress, Done]
  .tasks-overview-wrapper {
    .innertask-container-header {
      .counter {
        background-color: $main-color;
        color: $main-text-color-white;
      }
      .innertask-headerContainer-button-container {
        button {
          background-color: rgba($secondary-color, 0.21);
          &:hover {
            background-color: $main-color;
          }
        }
        .addButtonIcon {
          color: white;
        }
      }
    }
  }

  //Add Task fields
  .addTask-inputFields-container {
    input,
    textarea {
      color: $main-text-color-black;
      background-color: $text-area-addtask-background-color;
      &::placeholder {
        color: $main-color;
      }
    }
    :focus {
      border-bottom: 1px solid $secondary-color;
    }
  }

  .addTask-overdue-priorty-container {
    .deadline-container,
    .priorty-container {
      h5 {
        color: $main-text-color-white;
      }
    }
  }

  .addTask-cancel-add-container {
    :nth-child(1) {
      background-color: $create-button-background-color;
      color: $button-white-text-color;
    }
    :nth-child(2) {
      background-color: $cancel-button-background-color;
      color: $button-white-text-color;
    }
  }

  //Single task container
  .task-item-container {
    background-color: $container-white-background-color;
    color: $main-text-color-white;
    .header-container {
      .deleteIcon {
        background-color: $container-delete-icon-background-color;
        color: $container-delete-icon-text-color;
      }
      .task-header-bullet {
        color: $secondary-color;
      }
    }
    .task-description-container {
      color: $main-text-color-white-gray;
    }

    .priority-highest,
    .priority-medium,
    .priority-low {
      color: white;
    }
    .priority-highest {
      background-color: #b20000;
    }
    .priority-medium {
      background-color: rgb(229, 173, 31);
    }
    .priority-low {
      background-color: gray;
    }
  }

  .addTask-container,
  .inProgress-container,
  .doneTasks-container {
    color: $main-text-color-white;

    background: linear-gradient(
      0deg,
      rgba($secondary-color, 0) 0%,
      rgba($secondary-color, 0.073) 100%
    );
  }
}

.overview-wrapper.light {
  //Header wrapper for title and dropdown menu
  .header-wrapper {
    .pageTitle {
      color: $main-text-color-black;
    }
    .pageTitle::first-letter {
      border: 5px solid $main-color-light;
      color: $main-text-color-black;
    }
    .ant-dropdown-tasksDate {
      color: $main-text-color-black;
    }
  }

  //Main content [ToDo, InProgress, Done]
  .tasks-overview-wrapper {
    .innertask-container-header {
      h3 {
        color: $main-text-color-black;
      }
      .counter {
        background-color: $main-color-light;
        color: $main-text-color-white;
      }
      .innertask-headerContainer-button-container {
        button {
          background-color: rgba($secondary-color-light, 0.21);
          &:hover {
            background-color: $main-color-light;
          }
        }
        .addButtonIcon {
          color: white;
        }
      }
    }
  }

  //Add Task fields
  .addTask-inputFields-container {
    input,
    textarea {
      color: $main-text-color-black;
      background-color: $text-area-addtask-background-color;
      &::placeholder {
        color: $main-color-light;
      }
    }
    :focus {
      border-bottom: 1px solid $secondary-color-light;
    }
  }

  .addTask-overdue-priorty-container {
    .deadline-container,
    .priorty-container {
      h5 {
        color: $main-text-color-white;
      }
    }
  }

  .addTask-cancel-add-container {
    :nth-child(1) {
      background-color: $create-button-background-color;
      color: $button-white-text-color;
    }
    :nth-child(2) {
      background-color: $cancel-button-background-color;
      color: $button-white-text-color;
    }
  }

  //Single task container
  .task-item-container {
    background-color: $container-white-background-color-light;
    color: $main-text-color-white;
    .header-container {
      .deleteIcon {
        background-color: $container-delete-icon-background-color-light;
        color: $container-delete-icon-text-color;
      }
      .task-header-bullet {
        color: $main-color-light;
      }
    }
    .task-description-container {
      color: $main-text-color-white-gray;
    }

    .priority-highest,
    .priority-medium,
    .priority-low {
      color: white;
    }
    .priority-highest {
      background-color: #b20000;
    }
    .priority-medium {
      background-color: rgb(229, 173, 31);
    }
    .priority-low {
      background-color: gray;
    }
  }

  .addTask-container,
  .inProgress-container,
  .doneTasks-container {
    color: $main-text-color-white;

    background: linear-gradient(
      0deg,
      rgba($main-color-light, 0.3) 0%,
      rgba($main-color-light, 0.073) 100%
    );
  }
}
