@import "../../styles/varaibles";
.upcomingtasks-wrapper {
  padding: 20px;
  .header-wrapper-upcomingtasks {
    h1 {
      width: fit-content;
      position: relative;
      color: $main-text-color-white;
      &::after {
        background-color: $main-color;
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }

  .timeline-wrapper {
    .ant-timeline {
      color: $main-text-color-white;
      .timeline-wrapper-left {
        font-size: 20px;
      }
      //the circles
      .ant-timeline-item-head {
        width: 20px;
        margin-left: -9px;
        height: 20px;
      }   

      //the left part
      .ant-timeline-item-content {
        display: flex;
        justify-content: flex-end;
        .task-title-wrapper {
          background-color: white;
          color: $main-text-color-black;
          padding: 5px 0px 0px 5px;
          border-radius: 10px;
          width: 300px;
          text-align: start;
          p {
            color: $main-text-color-white-gray;
            font-size: 15px;
            margin-left: 3px;
          }
          span {
            color: $main-color;
          }
        }
      }
    }
  }
}
