@import "../varaibles";
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
::-webkit-scrollbar {
  width: 0.4em;
  margin: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  outline: 1px solid $secondary-color;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.required-field {
  color: $input-required-color;
}

.validation-error-input {
  color: $input-required-color;
  font-weight: bold;
  margin-left: 10px;
  overflow: hidden;
  overflow: hidden;
  display: block;
}

.error-pop-up-message {
  margin-top: 10vh;
}

.bigSpin-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
