@import "../../utilities/scss/varaibles";
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eee;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.required-field {
  color:$input-required-color;
}

.validation-error-input {
  color: $input-required-color;
  font-weight: bold;
  margin-left: 10px;
  overflow: hidden;
  overflow:hidden; display:block;
}

.error-pop-up-message  {
  margin-top: 10vh;
}
