/*#region Light Theme - Colors */
/* Body background colors */
$body-background-color: rgb(57, 61, 78);

/* Text colors */
$main-text-color: #FFFFFF;
$main-text-color-gray: #B3B3B3;
$secondary-color: #1D90F4;

/* Inputs and forms colors */
$input-registerform-background-color: #323645;
$input-required-color: #FF0000;
$login-form-background-color:#FFFFFF;

/* Buttons colors */
$button-white-text-color:#FFFFFF;   
/*#endregion*/