@import "../../../styles/varaibles";
.settings-wrapper {
  // Navbar for account settings
  nav {
    height: 100vh;
    .header-wrapper {
      padding: 10px;
      padding-left: 14px;
    }
    .account-settings-wrapper,
    .security-settings-wrapper,
    .appearance-settings-wrapper {
      display: flex;
      align-content: center;
      gap: 15px;
      padding: 10px;
      transition: 0.3s;
      cursor: pointer;

      p {
        font-size: 0.7rem;
      }
    }
  }
}

.settings-wrapper.dark {
  .account-settings-outlet {
  }

  // Navbar for account settings
  nav {
    background-color: $navbar-account-settings-background-color;
    .header-wrapper {
      color: $main-text-color-black;
    }
    .account-settings-wrapper,
    .security-settings-wrapper,
    .appearance-settings-wrapper {
      border: 1px solid #eee;
      .icon-wrapper {
        svg {
          color: $navbar-account-settings-icons-color;
        }
      }
      h5 {
        color: $main-text-color-black;
      }
      p {
        color: $main-text-color-white-gray;
      }

      &:hover {
        background-color: $navbar-account-settings-container-hover-bg-color;
      }
    }
  }
}

.settings-wrapper.light {
  // Navbar for account settings
  nav {
    background-color: $navbar-account-settings-background-color;
    .header-wrapper {
      color: $main-text-color-black;
    }
    .account-settings-wrapper,
    .security-settings-wrapper,
    .appearance-settings-wrapper {
      border: 1px solid #eee;
      .icon-wrapper {
        svg {
          color: $navbar-account-settings-icons-color-light;
        }
      }

      h5 {
        color: $main-text-color-black;
      }
      p {
        color: $main-text-color-white-gray;
      }

      &:hover {
        background-color: $navbar-account-settings-container-hover-bg-color;
      }
    }
  }
}
