@import "../../../utilities/scss/varaibles";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Telex&display=swap");
// body {
//   background-image: linear-gradient(
//       to left,
//       rgba(29, 144, 244, 0.3),
//       rgba(57, 61, 78, 2)
//     ),
//     url("../../../assets/images/leaves_plant_bw_167185_3840x2160.jpg");
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
//   background-position: center;
//   background-clip: content-box;
// }
.login-Page-Wrapper {
  background-image: linear-gradient(
      to left,
      rgba(29, 144, 244, 0.3),
      rgba(57, 61, 78, 2)
    ),
    url("../../../assets/images/leaves_plant_bw_167185_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-clip: content-box;
  height: 100vh;
}

.login-form-wrapper {
  padding: 15px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  height: 600px;
  max-width: 500px;
  min-width: 350px;
  border-radius: 8px;
  animation-name: login-form-wrapper-animation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  h2 {
    margin-bottom: 50px;
    text-align: center;
  }
}

@keyframes login-form-wrapper-animation {
  from {
    top: -20%;
    right: 50%;
    background-color: darkgrey;
    opacity: 0.6;
  }
  to {
    top: 50%;
    right: 50%;
    opacity: 1;
  }
  
}

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    border: none;
    border-bottom: 1px solid $main-text-color-gray;
    outline: none;
  }
  .password-input-wrapper {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  input:focus {
    outline: none;
    border-bottom: 1px solid $secondary-color;
  }

  button {
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    color: white;
  }
}

.email-input-wrapper {
  position: relative;
  width: 100%;
  input {
    width: 80%;
    margin-left:25px;
    padding-left: 20px;
    padding-bottom: 9px;
  }
  .anticon-mail {
    position: absolute;
    left: 27px;
    top: 6px;
  }
}

.password-input-wrapper {
  position: relative;
  width: 100%;

  input {
    width: 80%;
    margin-left:25px;
    padding-left: 20px;
    padding-bottom: 9px;
    &:focus {
      
    }
  }
  .anticon-security-scan {
    position: absolute;
    left: 27px;
    top:6px;

  }
}

.login-button-wrapper {
  width: 100%;
  margin-top: 20px;
  .login-button {
    background: linear-gradient(
      to left,
      rgba(57, 61, 78, 1),
      rgba(29, 144, 244, 1)
    );
    width: 100%;
    transition: 3s;
  }

  .register-button {
    background-color: $body-background-color;
  }
}

.forgot-password-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: $main-text-color-gray;
  }
}
.signup-wrapper {
  font-weight: bold;
  margin-top: 20px;
}

.sign-up-icons-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  
  span {
    cursor: pointer;
  }
  .google-icon {
    color: red;
  }
  .facebook-icon {
    color: blue;
  }
  .twitter-icon {
    color: skyblue;
  }
}
.sign-up-email-wrapper {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: centers;
  align-content: center;
  flex-direction: row;
  margin-bottom: 25spx;
  p {
    margin: 0;
    margin-right: 10px;
    padding: 0;
  }
  a {
    color: olive;
    font-weight: bold;
  }
}

.validation-error-input {
  margin-left: 30px;
  padding: 0;

}